{
  "type": "page",
  "body": [
    {% include "components/active_service/simple_header.j2" %},
    {
      "type": "container",
      "className": "p-md",
      "body": [
        {% include "components/active_service/service_card_grid.j2" %}
      ]
    }
  ]
}
