{# Design Tokens Dispatcher #}
{# 
  此文件负责根据全局配置 `app_theme` 动态分发具体的主题文件
  支持的值: 'default' | 'dark' | 'brand'
#}

{% set theme_name = app_theme if app_theme else 'default' %}
{% set theme_path = 'base/themes/' + theme_name + '.j2' %}

{# Import using the dynamic path #}
{% import theme_path as theme_source %}

{# Re-export colors object so it can be used by other templates #}
{% set colors = theme_source.colors %}
